body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    align-content: flex-end;
    background-image: url(../imgs/cpo-background.jpg);
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: white;
    flex: 2 0 0;
}

canvas {
    background-color: black;  
    border: 3px dotted white;
}

